[Desktop Entry]
Name=Claremont Dark
X-KDE-PluginInfo-Author=tjb2640
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=example@example.local
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-Name=ClaremontDark
X-KDE-PluginInfo-Version=1.0.0
